{% extends "base.html" %}

{% block title %}Fact of the week{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Fact of the week</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="{% url 'facts:index' %}" role="button">Give me the facts</a></p>
    <p><a class="btn btn-lg btn-success" href="{% url 'mailinglist:join' %}" role="button">Join the list</a></p>
</div>

<div class="row marketing">
    
    {% if newest_fact %}
    	<div class="col-xs-12">
    		<h2>Latest Facts</h2>
    	</div>

	    {% for fact in newest_fact %}
	    <div class="col-xs-12">
	        <h3><a href="{% url 'facts:detail' fact.id %}">{{ fact.fact_title }}</a></h3>
	        <p>{{ fact.fact_text|truncatechars:150  }}</p>
	        <p><a class="btn btn-primary" href="{% url 'facts:detail' fact.id %}" role="button">Read more</a></p>
	        <hr />
	    </div>
	    {% endfor %}
	    
	{% else %}
	    <p>No facts are available.</p>
	{% endif %}
</div>

{% endblock %}
