{% extends "base.html" %}

{% block title %}Mailing List{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
        <h1>Apply to join the mailing list</h1>
        <p>Membership of the fact of the week mailing list is special honour only bestowed upon the most venerable factoid enthusiasts. If you don't know the people behind this site, we strongly discourage you from applying. You are unlikely to be accepted and will be wasting your time.</p>
        <h2>Application form</h2>
		<form action="" method="post">
			{% csrf_token %}
		    {% for field in form %}
            <div class="form-group">
                <label for="id_{{ field.name }}">{{ field.label }}</label><br />
                {% if field.errors %}
                <p class="has-error alert alert-danger">
                    <span class="help-block">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </span>
                </p>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <span class="help-block" style="display: inline;"><small>{{ field.help_text|safe }}
                    {# Using |safe to allow links in help text, specifically for terms_accepted #}
                    </small></span>
                {% endif %}
             
            </div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}